@{
    ViewData["Title"] = "Category";
}

@model List<Category>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> &nbsp;
            Create New Category
            </a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr class="table-primary">
            <td>Category Name</td>
            <td>Display Order</td>
            <td>Created at</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
                <td>@category.Created</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                        <form method="post">
                            <button class="btn btn-primary" asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>